.row{
    background-color: rgb(28, 124, 148);
}
footer{
    color: aliceblue;
    font-size: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 2px -2px 5px rgb(41, 38, 38);
}