<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laudantium nesciunt alias. Sunt nesciunt accusantium voluptatibus praesentium asperiores fugiat at, officiis et, voluptas eveniet velit vitae laudantium omnis quasi quia!</p>
        </ul>

    </div>
</div>